openapi: 3.0.3
info:
  title: WarpStream Management ACLs Virtual Cluster Credentials API
  description: 'REST API for programmatically managing all aspects of the WarpStream control plane, including workspaces, virtual clusters, topics, ACLs, pipelines, agent pools, and BYOC deployments. All requests are issued as POST or GET requests with JSON payloads and authenticated via the warpstream-api-key header using Application Keys, Agent Keys, or Account Keys depending on the scope of resources being managed.

    '
  version: 1.0.0
  contact:
    url: https://docs.warpstream.com/warpstream/reference/api-reference
  license:
    name: WarpStream Terms of Service
    url: https://www.warpstream.com/terms-of-service
servers:
- url: https://api.warpstream.com
  description: WarpStream Management API
security:
- ApiKeyAuth: []
tags:
- name: Virtual Cluster Credentials
  description: Manage SASL/SCRAM credentials for virtual cluster access
paths:
  /api/v1/create_virtual_cluster_credentials:
    post:
      operationId: createVirtualClusterCredentials
      summary: Create Virtual Cluster Credentials
      description: Creates SASL/SCRAM credentials for connecting to a virtual cluster.
      tags:
      - Virtual Cluster Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - credentials_name
              - is_cluster_superuser
              - virtual_cluster_id
              properties:
                credentials_name:
                  type: string
                  description: Name for the credentials
                is_cluster_superuser:
                  type: boolean
                  description: Whether these credentials have superuser privileges
                virtual_cluster_id:
                  type: string
                  description: Target virtual cluster ID
                imported_password:
                  type: string
                  description: Optional specific password (for migrations); auto-generated if omitted
            example:
              credentials_name: my-credentials
              is_cluster_superuser: false
              virtual_cluster_id: vci_1d4930d7_8e6d_4ad9_b27a_654ed4aaa3ee
      responses:
        '200':
          description: Created credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualClusterCredentials'
components:
  schemas:
    VirtualClusterCredentials:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        password:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: warpstream-api-key
      description: 'WarpStream API key. Three key types are supported: Application Keys (manage workspace-specific resources), Agent Keys (scoped to a specific virtual cluster), and Account Keys (manage account-level resources such as workspaces and users).

        '
externalDocs:
  description: WarpStream API Reference Documentation
  url: https://docs.warpstream.com/warpstream/reference/api-reference
